html {
    box-sizing: border-box;
    font-family: 'Montserrat','Merriweather';
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.wrapper {
    margin: 0 auto;
}

section {
    margin-top: 20px;
}
.nav-wrapper {
    float: right;
}
.nav-wrapper ul {
    list-style: none;
    display: block;
}

.nav-wrapper li {
    display: inline-block;
    margin-right: 1.25rem;
}

.nav-wrapper a {
    text-decoration: none;
}

.nav-wrapper a:hover {
    color: blue;
}

.parallax {
    background-image: url("../img/parallax.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
}

.parallax-text {
  position: absolute;
  z-index: 1000;
  top: 200px;
  left: 200px;
  color: #FFF;
}

#background {
    display: grid;
    grid-template-columns:  1fr 1fr ;
    margin: 20px 20px;
    justify-content: center;
}

.profile-img img {
    border-radius: 50%;
    width: 300px;
}

.profile-img {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.profile {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#projects {
    display: grid;
    grid-auto-columns: repeat(6, 1fr);
    margin: 0 10px;
}
#project-list {
    list-style: none;
    padding-right: 20px;
}

.img-gallery {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
}

.responsive {
    max-width: 300px;
}
.responsive img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
} 

.responsive img:hover {
    opacity: 0.8;
    cursor: pointer;
}

#reviews {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
  margin: 20px 20px;
}

.testimonial {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
}

#contact {
    display: grid;
    grid-template-columns: auto auto;
    margin: 20px 20px;
}

.location {
    display: flex;
    flex-direction: column;
}

.form-content {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 450px) {
    .parallax {
        position: inherit;
    }
    .parallax-text{
        top: 300px;
        left: 100px;
    }
    
     .img-gallery {
        display: flex;
        flex-direction: column;
        justify-content: center;
    } 
     .responsive {
        margin: 10px 10px;
        padding-top: 10px;
        height: 100%;
        width: 100%;
    }

    #background {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .img-gallery {
        display: flex;
        flex-direction: row;
    }
    
    #reviews{
        display: flex;
        flex-direction: column;
    }
    .location {
        display: flex;
        flex-direction: column;
    }
    #contact {
        display: flex;
        flex-direction: column;
    }
}